BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0

SortIncludes: true
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: false
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: trueBreakBeforeBinaryOperators: All
